.topnav {
    background: #B0BEC5;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow: hidden;
}

.topnav a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a:visited {
    color: black;
}

.topnav a.active {
    background-color: #B0BEC5;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    height: auto;
}

.container {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2.25rem;
}

.header {
    width: 62.5rem;
    height: 16.875rem;
    margin: auto;
    background: #B0BEC5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.about-me {
    width: 43.75rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    padding: 2.25rem;
    color: #000000;
    float: right;
}

.content {
    padding: 0.625rem;
    height: 18.75rem;
}

.foto {
    float: left;
    padding: 2.25rem;
}

.foto img {
    border-radius: 15px;
}

.nav {
    width: 28rem;
    height: 18.75rem;
    background: #B0BEC5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    float: left;
    border-radius: 15px;
}

.nav table {
    padding-left: 0.9375rem;
}

.nav h2 {
    padding-left: 0.9375rem;
}

.main {
    width: 34rem;
    height: 18.75rem;
    background: #B0BEC5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    float: right;
    border-radius: 15px;
}

.main h2 {
    padding-left: 0.9375rem;
}

.main table {
    padding-left: 0.9375rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    margin-bottom: 0;
    font-weight: bold;
}

.footer {
    margin: auto;
    width: 62.5rem;
    height: 3.125rem;
    border-radius: 15px;
    background: #B0BEC5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    clear: both;
}

#twitter {
    float: left;
    width: 5.625rem;
    height: 3.125rem;
    margin-top: 0.5%;
    margin-left: 10%;
}

#instagram {
    margin-top: 0.5%;
    float: left;
    width: 5.625rem;
    height: 3.125rem;
    margin-left: 15%;
}

#steam {
    margin-top: 0.5%;
    float: left;
    width: 5.625rem;
    height: 3.125rem;
    margin-left: 15%;
}

#linkedin {
    margin-top: 0.5%;
    float: left;
    width: 5.625rem;
    height: 3.125rem;
    margin-left: 15%;
}
.container-random {
    width: 43.75rem;
    padding: 2.25rem;
    margin-left: auto;
    margin-right: auto;
}
.quote {
    background-color: #B0BEC5;
    font-size: 0.875rem;
    padding: 2.25rem;
    color: #000000;
    float: right;
    border-radius: 15px;
}
.quote h2 {
    margin: 0;
}
.quote p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
@media screen and (max-width: 1224px) {
    .container {
        width: 90%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .foto {
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .about-me {
        background-color: #B0BEC5;
        text-align: center;
        width: 90%;
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        border-radius: 15px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .nav {
        font-size: 1rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .main {
        font-size: 1rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer {
        font-size: 1rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        clear: both;
    }

    #twitter, #instagram, #steam, #linkedin {
        margin-left: 10%;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .foto {
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .header {
        width: 80%;
        padding-top: 0.625rem;
        margin: auto;
    }

    .about-me {
        background-color: #B0BEC5;
        text-align: center;
        width: 80%;
        font-size: 1rem;
        margin: auto;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .nav {
        font-size: 1rem;
        width: 80%;
        padding-top: 0.625rem;
        margin: auto;
    }
    .main {
        font-size: 1rem;
        width: 80%;
        padding-top: 0.625rem;
        margin: auto;
    }
    .footer {
        font-size: 1rem;
        width: 80%;
        padding-top: 0.625rem;
        margin: auto;
        clear: both;
    }
    #twitter, #instagram, #steam, #linkedin {
        margin-left: 1%;
    }
}